---
weight: 5
layout: page
title: 图书
permalink: /books/
---

<div class="box container-fluid">
    <h2 class="title">
        <span class="icon-text"><i class="glyphicon glyphicon-book"></i>
            臭味相投(以下图书均来自于网络，如果侵犯了你的版权，请联系我)
        </span>
    </h2>
    <ul class="listing">
        {% for link in site.data.books %}
        <li>
            <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
            <span class="pull-right">
                {% if link.code %}
                提取码：{{ link.code }}，
                {% endif %}
                格式：{{ link.type }}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>

{% include comments.html %}