---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y年%m月%d日" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <ul class="list-inline">
    <li><i class="glyphicon glyphicon-folder-open"></i></li>
    {% assign categories = page.categories %}
    {% include categories %}
  </ul>
  <ul class="list-inline">
    <li><i class="glyphicon glyphicon-tags"></i></li>
    {% assign tags = page.tags %}
    {% include tags %}
  </ul>

</div>
